/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 23, 2014, 1:53:38 AM
    Author     : adnan
*/
.col-md-4
{
    padding-right: 2px;
    margin: -2px;
}
.package
{
    height: 350px;
    background-size: 100% 450px;
    margin-top: 20px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    color: #FFFAFA;
    text-align: center;
    
}
.package h2
{
    
    padding-top: 30px;
    text-decoration: underline;
    font-size: 27px;
    font-weight: bold;
    
}
.package p b
{
    font-size: 40px;
}
.package p i
{
    font-size: 24px;
}
.package span
{
    font-size: 24px;
}
.button
{
    width: 50%;
}
.col-md-4
{
    padding-left: 0px;
}