/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 7, 2014, 5:06:55 AM
    Author     : adnan
*/

.sec
{
    padding-left: 24px;
    font-size: 17px;
    margin-bottom: -10px;
    margin-top: -6px;

}
.plast
{
    background-color: #FEF3C7;
    padding-bottom: 10px;
    margin-top: -20px;
    margin-bottom: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-color: #000;
    text-align: left; 
}  
.profile li
{
    background-color: #EEEEEE;
    opacity:1.0;
    width: 150%;
    min-height: 53px;
    text-decoration: underline;
    padding-top: 10px;
    padding-left: 2px;
    list-style: none;
    margin-top: 12px;
    margin-left: 1px;
    font-size: 16px;
}
.profile li a
{
    float: left;
}
        
.editProfile
{
    transform:rotate(270deg);
    -ms-transform:rotate(270deg); /* IE 9 */
    -webkit-transform:rotate(270deg); /* Safari and Chrome */
    margin-left: -32%;
    margin-bottom: 100px;
    border:#000 solid thin;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 80px;
    background-color: grey;
    padding: 5px;
    color: white;
}
        
