/* 
    Document   : style
    Created on : Nov 30, 2013, 5:59:24 PM
    Author     : Faizan
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

